.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    border-bottom: 3px solid black;
    background-color: whitesmoke;
}

.banner-title {
    color: #31b572;
    font-size: 2rem;
    margin: 0;
    font-family: "Georgia", serif;
}

.banner-logo {
    height: 60px;
    width: 60px;
}
